<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/vitrine/style.css" />
    <link rel="stylesheet" href="/asset/css/vitrine/skin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
    <header>
        <nav class=" nav1 d-flex mw-1700 m-auto f-1-300 wrap js-sb ">
            <div class="d-flex ai-center">
                <div>
                    <img src="/asset/image/vitrine/logo-bleu.svg" alt="" class="logo ">
                </div>
            </div>
            <div class=" conx d-flex ai-center wrap ">
                <div class=" link d-flex  wrap ">
                    <ul>
                        <li><a class="pl-4" href="accueil.html"> Accueil</a>
                        </li>
                        <li class="pl-4">
                            <input type="checkbox" id="toggle" />
                            <label for="toggle">Services <span class="fleche"></span></label>
                            <ul class="submenu">
                                <li><a href="service1.html">Climatisation </a></li>
                                <li><a href="service2.html">Matériels aéraulique frigorifique </a></li>
                                <li><a href="service3.html">Equipements industriels </a></li>
                                <li><a href="service4.html">Création salle de bain et Rénovation intérieur</a></li>
                            </ul>
                        </li>


                        <li><a class="pl-4" href="/ctrl/product/list.php"> Boutique </a> </li>

                    </ul>
                </div>


                <button class="btn1  m-1"> <a class="c-white" href="contact.html">Demander un devis </a>
                </button>

            </div>


        </nav>
    </header>
    <main>

        <div class="pic-accueil pt-2">
            <div class=" mw-1000 ">
                <h1 class=" ta-center ">
                    Installation d’équipements thermiques et de climatisation
                </h1>
                <p class=" ta-center">
                    Matériels aéraulique frigorifique - Climatisation - Turbine de pompe - Compresseur - Système
                    hydraulique et robinetteries - Salle de bain
                </p>
            </div>
        </div>

        <!-- PRESENTATION D'ENTREPRISE -->
        <article class="d-flex jc-center pt-150">
            <div class="picture">
                <img src="/asset/image/vitrine/Group 31.svg" alt="">

            </div>
            <div class="mw-1000 pl-4 ">
                <h2>Pro Air Fluide, Votre Partenaire de Confiance pour une Installation Professionnelle de Systèmes
                    Thermiques et de Climatisation</h2>

                <p class="pt-2">
                    Située à Colombes , notre entreprise est votre spécialiste de confiance pour l'installation et le
                    montage d'équipements thermiques et de climatisation.
                    <br>
                    <br>
                    Nous mettons notre expertise à votre service pour assurer une installation professionnelle et
                    fiable. Notre équipe qualifiée se charge de l'installation de vos équipements aérauliques
                    frigorifiques, de climatisation, de turbines de pompe, de systèmes hydrauliques et de robinetteries.
                    <br><br>


                    Que ce soit pour des projets résidentiels, commerciaux ou industriels, nous proposons des solutions
                    sur mesure adaptées à vos besoins spécifiques.
                    <br><br>

                    Faites confiance à Pro Air Fluide pour une installation de qualité et un fonctionnement optimal de
                    vos équipements.
                    <br><br>

                    Contactez-nous dès maintenant pour discuter de votre projet d'installation thermique et de
                    climatisation.
                </p>
                <div class="pt-2">
                    <button class="btn2 "> <a class="c-white" href="contact.html">Demandez votre devis gratuit </a>
                    </button>
                </div>
            </div>
        </article>

        <!-- lES SERVICES -->
        <div class="service ">
            <div class="p-6-8">
                <h2>Nos services </h2>
                <p class="c-blue">Des solutions sur mesure pour vos besoins </p>
            </div>
            <div class="d-flex jc-center ">
                <!-- 1er service  -->

                <div class="container">
                    <img src="/asset/image/vitrine/img1.svg" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><a class=" c-white"href="service4.html">Création de salle de bain <br>et <br>
                            Rénovation d’intérieur </a></div>
                    </div>
                </div>
                <!-- 2eme service  -->
                <div class="container">
                    <img src="/asset/image/vitrine/img3.svg" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><a class=" c-white" href="service2.html">Matériels Aéraulique frigorifique industrielles </a></div>
                    </div>
                </div>

                <!-- 3eme service  -->
                <div class="container">
                    <img src="/asset/image/vitrine/img2.svg" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><a class=" c-white"  href="service1.html">Climatisation</a></div>
                    </div>
                </div>
                <!-- 4eme service  -->

                <div class="container">
                    <img src="/asset/image/vitrine/img4.svg" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"> <a class=" c-white" href="service3.html">Equipement industriels</a> </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ENGAGEMENT -->
        <div class="pb-100">
            <div class="p-6-8">
                <h2>Nos engagements </h2>
            </div>
            <div class="d-flex jc-sb mw-1500 m-auto  p-6-8">
                <!-- 1er engagement -->
                <div class="ta-center mw-340">
                    <picture>
                        <img src="/asset/image/vitrine/expertise.svg" alt="">
                    </picture>
                    <p> Offrir une expertise professionnelle de qualité supérieure dans chaque projet, grâce à notre
                        équipe
                        d'experts compétents et expérimentés</p>
                </div>
                <!-- 2eme engagement -->
                <div class="ta-center mw-340">
                    <picture>
                        <img src="/asset/image/vitrine/delais.svg" alt="">
                    </picture>
                    <p> Le respect des délais est une priorité absolue pour nous dans chaque projet, afin de garantir
                        une
                        planification précise et une exécution ponctuelle.</p>
                </div>

                <!-- 3eme engagement -->
                <div class="ta-center mw-340">
                    <picture>
                        <img src="/asset/image/vitrine/qualite.svg" alt="">
                    </picture>
                    <p> Offrir un service après-vente de qualité supérieure, avec une assistance proactive, des
                        solutions
                        rapides aux problèmes et un support sur mesure, pour assurer votre entière satisfaction.</p>
                </div>
            </div>
        </div>
        <!-- vector -->
        <div class=" float-r">
            <img class="" src="/asset/image/vitrine/Group 14.svg" alt="">
        </div>
        
        <!-- Contact -->
        <div class="d-flex pt-100 ">
            <picture>
                <img class="" src="/asset/image/vitrine/Vector 9.svg" alt="">
            </picture>
            <div class="mw-800 pl-3">
                <h1 class="pt-100">Contactez-nous dès aujourd'hui pour bénéficier de notre expertise et concrétiser votre projet.</h1>
                <div class="pt-2">
                    <button class="btn1">
                        <a class="c-white" href="contact.html">Contactez-nous</a>
                    </button>
                </div>
            </div>
        </div>
        

    </main>
    <footer>
       
        <div class="footer pt-15">
            <div> <!-- partie 1 -->
                <div class="d-flex jc-center ">
                    <!-- telephone -->
                    <div class="ta-center">
                        <i class="fa-solid fa-phone fa-xl"></i>
                        <p> +33-6-32-16-07-66</p>
                        <p>Notre téléphone</p>
                    </div>
                    <!-- line de separation -->
                    <div class="line">
                        <img src="./asset/image/vitrine/Line 3.svg" alt="">
                    </div>
                    <!-- Adresse -->
                    <div class="ta-center"> <i class="fa-solid fa-location-dot fa-xl"></i>
                        <p class="">150bis, Rue Henri Dunant , 92700 Colombes</p>
                        <p class="">Notre adresse</p>
                    </div>
                    <!-- line de separation -->
                    <div class="line">
                        <img src="./asset/image/vitrine/Line 3.svg" alt="">
                    </div>
                    <!-- Email -->
                    <div class="ta-center">
                        <i class="fa-solid fa-envelope fa-xl ai-center"></i>
                        <p> prohairfluide@outlook.fr</p>
                        <p>Notre mail</p>
                    </div>
                    <!-- logo -->

                </div>
                <!-- partie 2 -->
                <div class="ta-center mt-3 mr-3">
                    <a class="pl-4 c-white" href="accueil.html"> Accueil</a>
                    <a class="pl-4 c-white" href="contact.html"> Demander un devis</a>
                    <a class="pl-4 c-white" href="contact.html"> Contact </a>

                </div>
            </div>

            <div class=" logo-footer d-flex jc-right">
                <img src="/asset/image/vitrine/logo-blanc.svg" alt="">
            </div>

        </div>

    </footer>

</body>

</html>