<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/vitrine/style.css" />
    <link rel="stylesheet" href="/asset/css/vitrine/skin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/asset/css/vitrine/carosel.css">
    <link rel="stylesheet" href="/node_modules/flickity/dist/flickity.min.css">

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class=" nav1 d-flex mw-1700 m-auto f-1-300 wrap js-sb ">
            <div class="d-flex ai-center">
                <div>
                    <img src="/asset/image/vitrine/logo-bleu.svg" alt="" class="logo ">
                </div>




            </div>
            <div class=" conx d-flex ai-center wrap ">
                <div class=" link d-flex  wrap ">
                    <ul>
                        <li><a class="pl-4" href="accueil.html"> Accueil</a>
                        </li>
                        <li class="pl-4">
                            <input type="checkbox" id="toggle" />
                            <label for="toggle">Services <span class="fleche"></span></label>
                            <ul class="submenu">
                                <li><a href="service1.html">Climatisation </a></li>
                                <li><a href="service2.html">Matériels aéraulique frigorifique </a></li>
                                <li><a href="service3.html">Equipements industriels </a></li>
                                <li><a href="service4.html">Création salle de bain et Rénovation intérieur</a></li>
                            </ul>
                        </li>


                        <li><a class="pl-4" href="contact.html"> Contact </a> </li>
                    </ul>
                </div>
                <button class="btn1  m-1"> <a class="c-white" href="contact.html">Demander un devis </a>
                </button>
            </div>
        </nav>
    </header>
    <!-- MAIN-->
    <main>
        <!-- COVER -->
        <div class="cover d-flex ai-center jc-center">
            <h1>Equipements industriels</h1>
        </div>
        
        
        <article class="d-flex jc-center pt-3 ">
            <div class="picture4">
                <img src="/asset/image/vitrine/Frame 9.png" alt="">

            </div>
            <div class="mw-900 pl-4 ">
           

                <p class="">
                    Notre service d'installation spécialisé vous offre une expertise professionnelle dans la mise en
                    place d’équipements de moteurs, turbines de pompes, compresseurs, systèmes hydrauliques et
                    robinetterie pour répondre à vos besoins en matière de gestion des fluides et de transfert de
                    puissance.
                    <br><br>

                    Notre équipe d'experts qualifiés travaille en étroite collaboration avec vous pour assurer une
                    installation précise et efficace de ces équipements essentiels. Nous veillons à ce que tous les
                    composants soient correctement installés et opérationnels, afin d'optimiser les performances de
                    votre système.
                    <br><br>
                    Faites confiance à notre expertise en installation pour garantir un fonctionnement optimal de vos
                    équipements.
                    <br><br>
                    Contactez-nous dès aujourd'hui pour discuter de vos besoins spécifiques et bénéficier de notre
                    service d'installation de qualité.
                    <br><br>

                </p>
                <div class="pt-2">
                    <button class="btn2 "> <a class="c-white" href="contact.html">Demandez votre devis gratuit </a>
                    </button>
                </div>
            </div>
        </article>
         <!-- carrosel -->
         <div class="pt-150  mw-1700 m-auto">
            <h2>Nos rélisations </h2>
     
            <div class="carousel m-auto">
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/reparateur-faisant-service-climatiseur.jpg" alt="orange tree" />
             </div>
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/echelle-escalade-homme-plein-coup.jpg" alt="One World Trade" />
             </div>
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/technicien-hvac-travaillant-piece-condensateur-pour-unite-condensation-ouvrier-reparateur-uniforme-reparant-ajustant-systeme-conditionnement-diagnostiquant-recherchant-problemes-techniques.jpg" alt="drizzle" />
             </div>
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/realisation.PNG" alt="cat nose" />
             </div>
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/ventilo.PNG" alt="contrail" />
             </div>
             <div class="carousel-cell">
               <img src="/asset/image/vitrine/ventilo2.PNG" alt="golden hour" />
             </div>
             <div class="carousel-cell">
                <img  alt="orange tree" />
              </div>

            
           </div>
          
        </div>
    </main>
    <footer>
        <div class="vector pt-2">
            <img src="/asset/image/vitrine/map.svg" alt="">
        </div>
        <!--  -->
        <div class="footer pt-15">
            <div> <!-- partie 1 -->
                <div class="d-flex jc-center ">
                    <!-- telephone -->
                    <div class="ta-center">
                        <i class="fa-solid fa-phone fa-xl"></i>
                        <p> +33-6-32-16-07-66</p>
                        <p>Notre téléphone</p>
                    </div>
                    <!-- line de separation -->
                    <div class="line">
                        <img src="./asset/image/vitrine/Line 3.svg" alt="">
                    </div>
                    <!-- Adresse -->
                    <div class="ta-center"> <i class="fa-solid fa-location-dot fa-xl"></i>
                        <p class="">150bis, Rue Henri Dunant , 92700 Colombes</p>
                        <p class="">Notre adresse</p>
                    </div>
                    <!-- line de separation -->
                    <div class="line">
                        <img src="./asset/image/vitrine/Line 3.svg" alt="">
                    </div>
                    <!-- Email -->
                    <div class="ta-center">
                        <i class="fa-solid fa-envelope fa-xl ai-center"></i>
                        <p> prohairfluide@outlook.fr</p>
                        <p>Notre mail</p>
                    </div>
                    <!-- logo -->

                </div>
                <!-- partie 2 -->
                <div class="ta-center mt-3 mr-3">
                    <a class="pl-4 c-white" href="accueil.html"> Accueil</a>
                    <a class="pl-4 c-white" href="contact.html"> Demander un devis</a>
                    <a class="pl-4 c-white" href="contact.html"> Contact </a>

                </div>
            </div>

            <div class=" logo-footer d-flex jc-right">
                <img src="/asset/image/vitrine/logo-blanc.svg" alt="">
            </div>

        </div>

    </footer>
    <script src="/node_modules/flickity/dist/flickity.pkgd.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>